* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.main-container {
	/* height: 200px; */
	max-width: 1300px;
	overflow-x: hidden;
	margin: 0 auto;
}

nav {
	margin: 0 auto;
	max-width: 1300px;
	padding: 0 40px 0 40px;
	background-color: white;
	z-index: 2000;
	position: sticky;
	top: 0px;
	height: 60px;
	transition: height 0.1s;
}

/* For mobile */
.open-nav {
	height: 310px;
	padding-bottom: 40px;
}

.nav-on-mob a {
	display: block;
	text-align: center;
}

.hamburger-btn-open {
	font-size: 50px;
	position: absolute;
	right: 30px;
	display: none;
	top: -8px;
}

.hamburger-btn-close {
	font-size: 40px;
	position: absolute;
	right: 35px;
}

nav .logo {
	width: 130px;
	margin: 8px 0 8px 0;
}

nav .nav-items {
	width: fit-content;
	display: inline;
	float: right;
	font-size: larger;
	font-weight: 600;
	margin-top: 15px;
}

nav .nav-items a {
	margin-right: 10px;
}

/* Section Main */
section.main {
	width: 100%;
	overflow: hidden;
	background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(219, 255, 224, 1) 100%);
}

.main-text-wrapper {
	padding: 150px 40px 0 60px;
	width: 50%;
}

.main-cir-wrapper {
	width: 50%;
}

section.main h1 {
	font-weight: 900;
	margin-bottom: 20px;
}

.button {
	border-radius: 10px;
	padding: 10px 25px;
	border: none;
	background-color: orange;
	color: white;
	display: block;
	width: fit-content;
	margin-top: 20px;
}

.main-cir {
	position: relative;
	top: -13rem;
	left: 2rem;
	height: 50rem;
	width: 50rem;
	background-color: #387546;
	border-radius: 50%;
}

.main-cir img {
	position: absolute;
	top: 70%;
	right: 70%;
	transform: translate(70%, -70%);
	width: 60%;
}

section.main {
	position: relative;
}

.img-chilli {
	width: 200px;
	position: absolute;
	left: -35px;
	bottom: 60px;
}

/* Section about us */
section.about-us {
	overflow: hidden;
}

.abt-cir-wrapper {
	width: 50%;
}

.abt-cir {
	position: relative;
	left: -11rem;
	height: 30rem;
	width: 30rem;
	background-color: #598463;
	border-radius: 50%;
}

.abt-cir img {
	position: absolute;
	top: 75%;
	right: 90px;
	transform: translate(70%, -70%);
	width: 100%;
}

.about-us-col-2 {
	position: relative;
	width: 50%;
}

.about-us-col-2 .wrapper {
	width: 100%;
	padding: 0 40px;
	position: absolute;
	top: 50%;
	right: 50%;
	transform: translate(50%, -50%);
}

.about-us-col-2 .button {
	background-color: #387546;
}

/* Section Menu */
section.menu .wrapper {
	text-align: center;
	padding-top: 60px;
}

section.menu .row {
	display: flex;
	align-items: flex-end;
}

section.menu .card {
	width: 18rem;
	box-shadow: 5px 10px 18px #888888;
}

/* Section client */
section.clients .client {
	padding-left: 0px;
}

section.clients h2 {
	text-align: center;
	margin-bottom: 40px;
}

section.clients img {
	width: 100%;
	padding-bottom: 10px;
}

/* Section contact us */
section.contact-us {
	padding-top: 70px;
}

section.contact-us .card-contact-wrapper {
	width: 100%;
}

section.contact-us .card-contact-wrapper .card-contact {
	margin: 0 auto 100px auto;
	height: 170px;
	width: 350px;
	box-shadow: 0.3em 0.6em 1em rgba(0, 0, 0, 0.3);
	border-radius: 78px;
	text-align: center;
}

.card-contact .icon {
	width: 40px;
	margin-top: 10px;
	margin-bottom: 30px;
}

/* Section footer */
section.footer {
	overflow: hidden;
	padding-top: 80px;
	height: 300px;
}

.footer {
	position: relative;
}

.footer-nav {
	position: absolute;
	top: 15rem;
	right: 50%;
	transform: translate(50%, -50%);
	font-size: larger;
	z-index: 1000;
	width: 100%;
}

.footer-nav-wrapper {
	width: fit-content;
	margin: 0 auto;
}

.footer-nav a {
	padding: 25px;
	color: white;
}

.footer-nav .social-m-icons {
	width: fit-content;
	margin: 20px auto 0px auto;
}

.footer-nav .social-m-icons img {
	padding: 15px;
	width: 60px;
}

.footer {
	position: relative;
}

.ftr-cir {
	position: absolute;
	top: 90rem;
	right: 50%;
	transform: translate(50%, -50%);
	height: 170rem;
	width: 170rem;
	background-color: #598463;
	border-radius: 50%;
}

.logo-cir {
	position: absolute;
	top: -70px;
	left: 80.5rem;
	height: 10rem;
	width: 10rem;
	background-color: white;
	border-radius: 50%;
}

.logo-cir {
	position: relative;
}

.logo-cir .icon-logo {
	position: absolute;
	top: 50%;
	right: 50%;
	transform: translate(50%, -50%);
	width: 70%;
}

/* Common css */
a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: unset;
}

.button:hover {
	color: white;
	-webkit-box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.4);
}

.p-orange {
	color: #f19a33;
}

.item-wrapper {
	width: fit-content;
	padding-bottom: 50px;
	margin: 0 auto 0 auto;
}

.hide {
	visibility: hidden;
}

/*---------- Media queary ----------*/
@media screen and (max-width: 1180px) {
	.main-cir {
		top: -10rem;
		left: -5rem;
	}
}

@media screen and (max-width: 1137px) {
	/* .contact-us .row {
		padding-right: 10px;
	} */

	.main-cir {
		left: -2rem;
	}

	section.contact-us .card-contact-wrapper .card-contact {
		height: 127px;
		width: 242px;
	}

	.card-contact .icon {
		width: 31px;
		margin-top: 10px;
		margin-bottom: 16px;
	}
}

@media screen and (max-width: 963px) {
	.main .row {
		margin-bottom: 100px;
	}

	.main-cir {
		top: -6rem;
		left: -2rem;
		height: 38rem;
		width: 38rem;
	}

	.main-cir img {
		top: 66%;
		right: 73%;
	}

	.abt-cir {
		left: -15rem;
	}

	.menu .item-wrapper .card {
		width: 15rem;
	}
}

@media screen and (max-width: 825px) {
	.abt-cir img {
		top: 70%;
		width: 79%;
	}

	.menu .item-wrapper .card {
		width: 14rem;
	}
}

@media screen and (max-width: 767px) {
	section.main .col-md-6:first-child {
		z-index: 1000;
		width: 400px;
	}

	.main-cir {
		left: -3rem;
	}

	.item-wrapper .card {
		margin: 10px auto;
	}

	section.clients .client {
		padding-right: 0px;
	}

	section.clients img {
		padding-bottom: 0px;
	}

	.contact-us .col-md-4 {
		height: 180px;
	}
}

@media screen and (max-width: 702px) {
	section.menu .wrapper {
		padding-top: 0px;
	}

	.img-chilli {
		bottom: 0px;
	}

	.about-us-col-2 .wrapper {
		padding: 0 10px 0 51px;
	}

	.abt-cir-wrapper {
		width: 0;
	}

	.abt-cir {
		background-color: unset;
	}

	.abt-cir img {
		left: 20rem;
	}
}

@media screen and (max-width: 562px) {
	.main .row {
		margin-bottom: 0px;
	}

	.main-text-wrapper {
		padding: 80px 40px 0 75px;
		width: 100%;
		height: 560px;
		z-index: 1000;
		color: white;
	}

	.main-text-wrapper p {
		width: 230px;
	}

	.main-cir-wrapper {
		position: absolute;
		width: 100%;
	}

	.main-cir {
		top: -14rem;
		left: -6rem;
		height: 48rem;
		width: 92rem;
	}

	.main .main-cir img {
		width: 500px;
		top: 60%;
		right: 73%;
	}

	.img-chilli {
		display: none;
	}

	.about-us-col-2 {
		width: 64%;
	}
}

@media screen and (max-width: 500px) {
	.hamburger-btn-open {
		display: block;
	}

	.nav-wrapper .hide-in-500px {
		display: none;
	}

	.main-text-wrapper {
		padding-left: 24px;
	}

	nav .nav-items {
		float: none;
	}

	nav .nav-items a {
		margin: 40px 0px 0px 0px;
	}

	.about-us-col-2 {
		width: 64%;
	}

	.about-us-col-2 .wrapper {
		padding: 0px 20px 0px 0px;
	}

	.abt-cir img {
		left: 17rem;
	}
}

@media screen and (max-width: 450px) {
	.abt-cir img {
		left: 14rem;
	}
}

@media screen and (max-width: 370px) {
	.abt-cir img {
		left: 12rem;
	}

	.footer-nav a {
		padding: 10px;
	}
}

@media screen and (max-width: 335px) {
	.abt-cir img {
		left: 9rem;
	}
}
